{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to Flask App</h1>
        <p class="lead">Components and <kbd>options</kbd>for laying out your Bootstrap project, including wrapping containers, <code>a powerful grid system, a flexible media object, </code>and responsive utility classes</p>

        <pre>Here you can code bro</pre>
        <div>
            {% if session.logged_in == null %}
                <a href="/register" class="btn btn-primary btn-lg">Register</a>
                <a href="/login" class="btn btn-success btn-lg">Login</a>
            {% endif %}

        </div>

<!--        <div><img src="http://127.0.0.1:5000/plots/breast_cancer_data/correlation_matrix"> </div>-->
    </div>

{% endblock %}
