{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h3>Hi, I'm</h3>
        <h1>---Amar Kumar---</h1>
        <div class="row">
            <div class="col-md-6 mb-4">
                <img class="img-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                data-holder-rendered="true">
            </div>
        </div>
        <p class="lead">Components and <kbd>options</kbd>for laying out your Bootstrap project, including wrapping containers, <code>a powerful grid system, a flexible media object, </code>and responsive utility classes</p>

        <pre>Here you can code bro</pre>
        <div>
            {% if session.logged_in == null %}
                <a href="/register" class="btn btn-primary btn-lg">Register</a>
                <a href="/login" class="btn btn-success btn-lg">Login</a>
            {% endif %}

        </div>

    </div>

{% endblock %}
